.parallax-pro-blue a, .parallax-pro-blue .entry-title a:hover, .parallax-pro-blue .genesis-nav-menu a:hover, .parallax-pro-blue .genesis-nav-menu .current-menu-item > a, .parallax-pro-blue .genesis-nav-menu .sub-menu a:hover, .parallax-pro-blue .genesis-nav-menu .sub-menu .current-menu-item > a:hover, .parallax-pro-blue .home-odd .featured-content .entry-title a:hover, .parallax-pro-blue .site-footer a:hover, .parallax-pro-blue .site-header .widget-area a:hover { color: #E5922F; }
.parallax-pro-blue .footer-widgets { background-color: #faaf55; }
.site-title a { background: url(https://cdn.rawgit.com/tfcs/tfcs/master/logotype_orange.svg) no-repeat !important; }

.accordion-content { background-color: #ffd6a5; }
.accordion-title:hover { color: #ffd6a5; }
