.parallax-pro-blue a, .parallax-pro-blue .entry-title a:hover, .parallax-pro-blue .genesis-nav-menu a:hover, .parallax-pro-blue .genesis-nav-menu .current-menu-item > a, .parallax-pro-blue .genesis-nav-menu .sub-menu a:hover, .parallax-pro-blue .genesis-nav-menu .sub-menu .current-menu-item > a:hover, .parallax-pro-blue .home-odd .featured-content .entry-title a:hover, .parallax-pro-blue .site-footer a:hover, .parallax-pro-blue .site-header .widget-area a:hover { color: #ADA72B; }
.parallax-pro-blue .footer-widgets { background-color: #f5f07d; }
.site-title a { background: url(https://cdn.rawgit.com/tfcs/tfcs/master/logotype_yellow.svg) no-repeat !important; }

.accordion-content { background-color: #FFFBA8; }
.accordion-title:hover { color: #FFFBA8; }

.site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
.site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
.site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
.site-header .genesis-nav-menu.responsive-menu > li:hover > a,
.site-header .genesis-nav-menu.responsive-menu a:hover {
	color: #FFFBA8;
}
