/*Look for the following code with some changes that are done for mobile.

http://stackoverflow.com/questions/12716525/sibling-divs-match-height-in-container/12716592#12716592
http://stackoverflow.com/questions/526294/how-might-i-force-a-floating-div-to-match-the-height-of-another-floating-div
http://stackoverflow.com/questions/2997767/how-do-i-keep-two-divs-that-are-side-by-side-the-same-height
http://stackoverflow.com/questions/12912604/make-one-divs-height-match-anothers
*/

/*Code to adjust the position of the number/bullet next to a SoundCite button*/
span.soundcite-loaded {
	display: inline-table;
	margin: 0 0 6px 0;
}

/*Code for Language Highlight feature*/
.mandarin, .cantonese, .fuzhounese, .spanish, .korean, .portuguese, .russian, .french, .arabic, .japanese {
	border: 3px solid #44ace8;
	background-color: #44ace8;
}

.entry-content.shifted div.phoneme-grid {
	width: 160%;
}

.entry-content.shifted a.floating-box {
	width: 18%;
	margin: 1%;
	height: 9em;
}

/*Code to reveal FSS descriptions*/
#fsstitle1, #fsstitle2, #fsstitle3, #fsstitle4, #fsstitle5, #fsstitle6, #fsstitle7, #fsstitle8, #fsstitle9, #fsstitle10, #fsstitle11, #fsstitle12, #fsstitle13, #fsstitle14, #fsstitle15, .fsstitle {
	color: #ffffff;
	background-color: #000000;
	padding: 5px;
	text-align: center;
	border: solid 1px #c3c3c3;
}

#fss1, #fss2, #fss3, #fss4, #fss5, #fss6, #fss7, #fss8, #fss9, #fss10, #fss11, #fss12, #fss13, #fss14, #fss15, .fss {
	padding: 5px;
	text-align: center;
	background-color: #a4d7f4;
	border: solid 1px #c3c3c3;
	display: none;
}

#fsstitle1:hover, #fsstitle2:hover, #fsstitle3:hover, #fsstitle4:hover, #fsstitle5:hover, #fsstitle6:hover, #fsstitle7:hover, #fsstitle8:hover, #fsstitle9:hover, #fsstitle10:hover, #fsstitle11:hover, #fsstitle12:hover, #fsstitle13:hover, #fsstitle14:hover, #fsstitle15:hover, .fsstitle:hover {
	color: #a4d7f4;
	font-weight: bold;
}

/*same style as above, but will left justify content*/
#fss1_left, #fss2_left, #fss3_left, #fss4_left, #fss5_left, #fss6_left, #fss7_left, #fss8_left, #fss9_left, #fss10_left, #fss11_left, #fss12_left, #fss13_left, #fss14_left, #fss15_left {
	padding: 5px;
	text-align: left;
	background-color: #a4d7f4;
	border: solid 1px #c3c3c3;
	display: none;
}

/*Code to reveal answers using jQuery instead of Javascript with toggle.*/
.hideanswer {
	display: none;
}

span.revealme {
	background-color: #a4d7f4;
	border-radius: 6px;
	padding: 5px;
}

/*Code to create the grid for the Table of Contents on the Practice Exercises page.*/
a.minor2 {
	box-sizing: border-box;
	display: table-cell;
	border: 3px solid #000;
	padding: 20px 10px;
	width: 25%;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	color: black;
	text-transform: initial;
	text-align: center;
	vertical-align: middle;
}

a.minor2:hover {
	background-color: black;
	color: white;
}

/*Code to create the grid on the 'Sounds in Use' page.
The code forces each box to resize according to its siblings when resizing
the browser window and also when viewed from tablet and/or mobile.
Code for this was found on the following page in the jsfiddle from user FelipeAls:
http://stackoverflow.com/questions/10525744/css-table-cell-equal-width

The following code is organized in the same way in which the actual boxes are displayed
on the actual 'Sounds in Use' page.*/
a.major {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: auto;
	border: 3px solid #000;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	color: black;
	text-transform: initial;
	text-align: center;
}

a.major:hover {
	background-color: black;
	color: white;
}

.myframe {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin-bottom: 10px;
}

a.minor {
	box-sizing: border-box;
	display: table-cell;
	border: 3px solid #000;
	height: auto;
	margin: 1.5%;
	padding: 20px 10px;
	width: 33.333%;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	color: black;
	text-transform: initial;
	text-align: center;
	vertical-align: middle;
}

a.minor:hover {
	background-color: black;
	color: white;
}

a.hideme {
	visibility: hidden;
}

/*Formatting for Sound List page with floating box formatting and optimized for mobile.
Additional changes were also made to the @media CSS code at the bottom of this page.
Look for the following code with some changes that are done for mobile.*/
a.floating-box {
	box-sizing: border-box;
	width: 30.333%;
	height: auto;
	margin: 1.5%;
	border: 3px solid #000;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	color: black;
	text-transform: initial;
	text-align: center;
}

a.floating-box:hover {
	background-color: black;
	color: white;
}

.clear {
	clear: left;
	padding-top: 15px;
}

/*Change blockquote text to a darker shade of gray.*/
blockquote {
	color: #737373;
	margin: 40px;
}

/*Change button colors to black and white on all pages.*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #fff;
	color: #000;
	text-transform: initial;
	border: 3px solid;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
	background-color: #000;
	color: #fff;
}

/*Hover over and highlight box on Practice Sound List page*/
.sound-column1 {
	box-sizing: border-box;
	width: 30%;
	padding: 0 10pt 0 0;
	float: left;
	margin-right: 5%;
}

.sound-column2 {
	box-sizing: border-box;
	width: 30%;
	padding: 0 10pt 0 0;
	float: left;
	margin-right: 5%;
}

.sound-column3 {
	box-sizing: border-box;
	width: 30%;
	padding: 0 10pt 0 0;
	float: left;
}

.sound-column1 a.button {
	box-sizing: border-box;
	width: 300px;
	font-size: 14px;
	text-align: center;
	background-color: white;
	color: #000;
	border: 3px solid;
	text-transform: initial;
	margin-bottom: 5%;
}

.sound-column1 a.button:hover {
	background-color: black;
	color: white;
}

.sound-column2 a.button {
	box-sizing: border-box;
	width: 300px;
	font-size: 14px;
	text-align: center;
	background-color: white;
	color: #000;
	border: 3px solid;
	text-transform: initial;
	margin-bottom: 5%;
}

.sound-column2 a.button:hover {
	background-color: black;
	color: white;
}

.sound-column3 a.button {
	box-sizing: border-box;
	width: 300px;
	font-size: 14px;
	text-align: center;
	background-color: white;
	color: #000;
	border: 3px solid;
	text-transform: initial;
	margin-bottom: 5%;
}

.sound-column3 a.button:hover {
	background-color: black;
	color: white;
}

.sound-column1 a.button.harry {
	width: 300px;
	font-size: 14px;
	text-align: center;
	background-color: blue;
	color: #fff;
	border: 3px solid;
	text-transform: initial;
	margin-bottom: 5%;
}

.mystyle {
	width: 500px;
	height: 50px;
	padding: 15px;
	border: 1px solid black;
}

.thirdClass {
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
}

/*****************************************************/
/*Code to remove top padding from Baruch College logo.*/
li#menu-item-290.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-290 a {
	padding-top: 0;
}

/*Code to adjust jump from anchor tags on FAQs page, so that the header does not cover the text.*/
.anchor {
	display: block;
	height: 95px;
/*same height as header*/
	margin-top: -95px;
/*same height as header*/
	visibility: hidden;
}

/*Code to change the font of the website.*/
.site-title {
	font-family: Century Gothic, sans-serif;
	font-size: 35px;
	text-transform: none;
	padding-left: 5px;
	white-space: nowrap;

}

/*Code to change the font of the paragraphs in the website.*/
p {
	font-family: Century Gothic;
}

.entry {
	font-family: Century Gothic;
}

/*Code for resizing title area box to give "Tools for Clear Speech" more space.*/
/*Revision Jun 2016: previous width of 415px caused line break in window width ~1250px, because of scrollbar.*/
.title-area {
	width: 398px;
}


/*Code for background shading of white text in the home sections.*/
.home-section-1,
.home-section-3,
.home-section-5 {
	background-attachment: fixed;
	background-color: #fff;
	background-position: 50% 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	color: #fff;
	display: block;
	text-shadow: 1px 0 4px #000;
}

/*Code to take away the shadow from the text in each odd section button.*/
.footer-widgets a.button:hover,
.home-odd a.button:hover {
	text-shadow: none;
}

/*Code to give header title and menu more space to fit on one line.*/
.site-inner,
.wrap {
	max-width: 1280px;
}

/*Code to move Menu widget down and align with TfCS logo. "Padding-top: 10px;" was added to original CSS code*/
.site-header .widget-area {
	width: 826px;
}

/*Code to adjust input text fields for the Mail-Chimp form. This code does not include the changes done to the HTML code for the Mail-Chimp form.  tags and labels were deleted from HTML code in order to allow the input fields to be on the same line.*/
#mc_embed_signup .mc-field-group input {
	display: block;
	width: 31%;
	padding: 8px 0;
	text-indent: 2%;
	float: left;
	margin-right: 5px;
}

/*Code to Change "Back to Practice List" to a smaller font size.*/
.goback {
	font-size: 80%;
}

/*********************************/
/* Video layout and navigation, in TfCS to-go pronunciation pages */
/*********************************/
.video-navigation {
	position: relative;
	top: 0;
	display: inline-block;
	z-index: 1;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	left: 0;
	background-color: #6abdef;
	width: 33%;
	border-radius: 15px 0 0 0;
}

.video-navigation a,
.video-navigation-mobile a {
	font-family: Montserrat, sans-serif;
	color: #222;
}

.video-navigation-button {
	font-size: 26px;
} 

/* Minimized layout, triggered by scroll using jQuery- see tfcs_interface.js */
.video-navigation.minimized {
	position: fixed;
	top: 75px;
	display: flex;
	width: 100%;
	height: 2em;
	line-height: 1em;
	border-radius: 0;
}

.video-navigation.minimized .video-navigation-button {
	font-size: 22px;
} 

/* Bottom controls that appear in mobile view */
.video-navigation-mobile {
	display: none;
	position: fixed;
	bottom: -100px;
	left: 0;
	width: 100%;
	z-index: 1;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	background-color: #6abdef;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	padding: 0 .5em;
}

.video-navigation-mobile.minimized {
	bottom: 0;
}

/* Positions and resizes video */
.video-frame {
	position: relative;
	width: 67%;
	float: right;
}

.video-frame.minimized {
	position: fixed;
	width: 500px;
	right: 5px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#video {
	display: block;
	width: 590px;
	height: 100%;
	margin: auto;
	border-radius: 0 15px 0 0;
}

#video.minimized {
	border-radius: 5px 5px 0 0;
	width: 500px;
}

.video-js .vjs-tech {
	position: relative !important;
	border-radius: 0 15px 0 0;
}

.video-frame.minimized .vjs-tech {
	border-radius: 5px 5px 0 0;
}

.vjs-big-play-button {
	font-size: 9em !important;
	width: 1.5em !important;
	top: 35% !important;
	left: 40% !important;
	border-radius: 1.5em !important;
}

.video-frame.minimized .vjs-big-play-button {
	font-size: 6em !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.vjs-paused .vjs-big-play-button {
	display:block !important;
}

.vjs-play-control,
.vjs-fullscreen-control {
	display:none !important;
}

/*
.vjs-playback-rate-value:before {
	content: "Playback Speed: "
}
*/

.entry-content.shifted {
	position: relative;
	left: -26%;
	width: 95%;
}

div#phoneme-container {
	display: flex;
	min-height: 400px;
	max-height: 429px;
}

span#top {
	position: relative;
	top: -8em;
}

span#phoneme {
	font-family: Montserrat, sans-serif;
}

span.linebreak {
	white-space:pre;
}

span.linebreak:before {
	content: "\A";
}

.entry-content.shifted div.video-navigation-button span.linebreak:before {
	content: " | ";
}


/* Puts box and shadow around text */
.exercise {
	border: 1px solid rgba(0,0,0,.2);
	padding: 1em;
	border-radius: 15px;
	margin-bottom: 1em;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

div#container {
	border-radius: 15px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	position: relative;
	top: -2em;
}

#phoneme-explanation {
	display: inline-block;
	border-radius: 0 0 15px 15px;
	padding: 1em;
}

#video-phoneme-explanation {
	border-radius: 0 0 5px 5px;
	padding: .5em;
	font-size: .8em;
	max-height: 70vh;
	overflow-y: auto;
	display: none;
}

.entry-content.shifted #phoneme-explanation {
	visibility: hidden;
}

.entry-content.shifted #container {
	box-shadow: none;
}

.entry-content.shifted #video-phoneme-explanation {
	display: block;
}

/* Transitions */
.video-navigation,
.video-navigation-mobile {
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.video-frame,
.entry-content {
	-moz-transition: all .4s linear;
	-ms-transition: all .4s linear;
	-o-transition: all .4s linear;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

button.recorder {
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

/* Audio Recorder */
object#recorderApp {
	position: absolute;
	top: 140px;
	left: 0;
	z-index: 999;
}

div.recorder {
	display: flex;
	z-index: 1000;
}

span.recorder {
	height: 38px;
}

button.recorder {
	width: 4em;
	height: 4em;
	margin: 25px 5px;
	padding: 0;
	border-radius: .5em;
	border: none;
	background-size: 67%;
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	z-index: 1000;
}

div.minimized button.recorder {
	width: 2em;
	height: 2em;
	margin: 1px;
}

button:hover.recorder {
	background-color: #FFF;
	color: #000;
	transform: scale(1.1);
}

button.record {
	background-image: url("../files/2016/06/microphone-8x.png");
}

button:hover.record {
	background-image: url("../files/2016/06/microphone-8x-red.png");
}

button.record.recording {
	background-image: url("../files/2016/06/media-stop-8x.png");
}

button.playback {
	background-image: url("../files/2016/06/media-play-8x.png");
}

button.help {
	background-image: url("../files/2016/07/question-mark-8x.png");
}

/* pop-up help text box */
.help-text {
	display: block;
	visibility: hidden;
	opacity: 0;
	width: 400px;
    position: absolute;
    left: 10px;
    top: -110px;
	padding: 10px;
	font-size: .8em;
	background-color: #fff;
	border-radius: 15px;
	-webkit-box-shadow: 1px 5px 5px rgba(0,0,0,0.2);
	box-shadow: 1px 5px 5px rgba(0,0,0,0.2);
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

a#help:hover + .help-text {
	visibility: visible;
	opacity: 0.9;
}

.video-navigation.minimized a#help:hover + .help-text {
    top: 50px;
}

.level {
	width: 4em;
	height: 4em;
	position: relative;
	left: 0;
	top: 0;
}

.entry-content.shifted .level {
	width: 2em;
	height: 2em;	
}

.audiolevel {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(200,0,0,0.5);
	border-radius: .5em;
}

.progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	background-color: rgba(0,160,0,0.5);
	border-radius: .5em;
}

/* visibility-related styles, toggled by jQuery */
.display-none {
	display: none;
}

.visibility-hidden {
	visibility: hidden;
}

.noshadow {
	box-shadow: none !important;
}


/***********************************
************************************
***********************************/

@media only screen and (max-width: 1360px) {
	.entry-content.shifted {
		left: -20%;
		width: 85%;
	}
}
@media only screen and (max-width: 1280px) {
	.site-inner,
	.wrap {
		max-width: 768px;
	}
	
	.parallax-home .site-inner {
		max-width: none;
	}
	
	.site-header {
		padding-bottom: 10px;
		position: static;
	}
	
	.content,
	.sidebar,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}
	
	.genesis-nav-menu,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}
	
	.header-image .site-title > a {
		margin: 0 auto 10px;
	}
	
	.genesis-nav-menu a {
		padding: 10px;
	}
	
	.parallax-home .site-inner {
		margin-top: 0;
	}
	
	.site-inner {
		margin-top: 80px;
	}
	
	.full-width-content .content {
		padding: 0;
	}
	
	.full-width-content img.pull-left {
		margin-left: 0;
	}
	
	.full-width-content img.pull-right {
		margin-right: 0;
	}
	
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.pricing-table .one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
	.pricing-table .one-third:nth-child(3n+1) {
		border-right: 2px solid #000;
	}
	
	.pricing-table .one-third:nth-child(3n+2) {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	
	.pricing-table .one-third:nth-child(3n) {
		border-left: 2px solid #000;
	}
	
	div#phoneme-container {
		min-height: 376px;
	}
	
	.anchor {
		height: 20px;
		margin-top: -20px;
	}
	
	.video-navigation.minimized {
		top: 0;
	}

	#video {
		width: 515px;
	}
	
	.vjs-big-play-button {
		font-size: 8em !important;
	}

	.video-frame.minimized {
		width: 420px;
	}

	#video.minimized {
		width: 420px;
	}

	.level,
	button.recorder {
		width: 3em;
		height: 3em;
	}
}

@media only screen and (max-width: 1100px) {
	.entry-content.shifted {
		left: -12%;
		width: 76%;
	}

	.video-frame.minimized {
		width: 360px;
	}

	#video.minimized {
		width: 360px;
	}
}

@media only screen and (max-width: 960px) {
	.site-inner,
	.wrap {
		max-width: 768px;
	}
	
	.parallax-home .site-inner {
		max-width: none;
	}
	
	.site-header {
		padding-bottom: 10px;
		position: static;
	}
	
	.content,
	.sidebar,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}
	
	.genesis-nav-menu,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}
	
	.header-image .site-title > a {
		margin: 0 auto 10px;
	}
	
	.genesis-nav-menu a {
		padding: 10px;
	}
	
	.parallax-home .site-inner {
		margin-top: 0;
	}
	
	.site-inner {
		margin-top: 80px;
	}
	
	.full-width-content .content {
		padding: 0;
	}
	
	.full-width-content img.pull-left {
		margin-left: 0;
	}
	
	.full-width-content img.pull-right {
		margin-right: 0;
	}
	
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.pricing-table .one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
	.pricing-table .one-third:nth-child(3n+1) {
		border-right: 2px solid #000;
	}
	
	.pricing-table .one-third:nth-child(3n+2) {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	
	.pricing-table .one-third:nth-child(3n) {
		border-left: 2px solid #000;
	}
	
	div#phoneme-container {
		display: inherit;
		height: inherit;
	}
	
	.video-frame {
		width: 100%;
	}
	
	#video {
		border-radius: 0;
		width: 100%;
	}
	
	.video-navigation {
		margin: auto;
		padding: 0 0 1em 0;
		display: block;
		width: 100%;
		border-radius: 15px 15px 0 0;
	}
	
	.video-textcontent {
		padding: 25px 0 100px;
	}
	
	.anchor {
		height: 5px;
		margin-top: -5px;
	}
	
	.help-text {
		position: relative;
		top: 0;
		border-radius: 15px;
	}
	
	.site-title {
		font-size: 30px;
		white-space: initial;
	}
	
	.video-navigation-mobile {
		display: flex;
	}

	.vjs-big-play-button {
		font-size: 6em !important;
	}

	div.phoneme-grid {
		width: 100%;
	}

	.entry-content.shifted a.floating-box {
		width: 31%;
		height: auto;
	}

}
	
@media only screen and (max-width: 768px) {
	.site-inner,
	.wrap {
		max-width: none;
		width: 100%;
	}
	
	.site-inner,
	.wrap {
		padding: 0 5%;
	}
	
	.parallax-home .site-inner {
		padding: 0;
	}
	
	.genesis-nav-menu.responsive-menu {
		display: none;
	}
	
	.nav-primary .responsive-menu-icon {
		margin-top: 20px;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}
	
	.genesis-nav-menu.responsive-menu li.current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu li a,
	.genesis-nav-menu.responsive-menu li a:hover {
		border: none;
		display: block;
		padding: 20px;
		text-transform: none;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}
	
	.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 20px/1 'dashicons';
		height: 20px;
		padding: 15px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}
	
	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}
	
	.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
		display: none;
	}
	
	.genesis-nav-menu.responsive-menu .sub-menu {
		background-color: rgba(255,255,255,0.05);
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition: opacity .4s ease-in-out;
		-ms-transition: opacity .4s ease-in-out;
		-o-transition: opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition: opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;
	}
	
	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		background-color: transparent;
		margin: 0;
		padding-left: 25px;
	}
	
	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		padding: 12px 20px;
		position: relative;
		text-transform: none;
		width: 100%;
	}
	
	.genesis-nav-menu.responsive-menu .current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu > li.menu-item-has-children:hover > a,
	.genesis-nav-menu.responsive-menu a:hover {
		background: none;
	}
	
	.site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu,
	.site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
	.site-header .genesis-nav-menu.responsive-menu > li:hover > a,
	.site-header .genesis-nav-menu.responsive-menu a:hover {
		color: #fff;
	}
	
	.home-even,
	.home-odd {
		padding: 90px 0 100px;
	}
	
	.parallax-home .simple-social-icons ul li {
		margin: 0 20px 20px !important;
	}
	
	li#menu-item-290.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-290 a {
		padding-top: 0;
		text-align: center;
	}
	
	a.floating-box {
		width: 31.333%;
		margin: 1%;
		height: 133px;
		padding: 20px 10px;
		border: 2px solid #000;
	}

	.site-title {
		font-size: 26px;
	}
	
	div#container,
	div.exercise {
		width: 110%;
		left: -5%;
		position: relative;
	}

	.vjs-big-play-button {
		font-size: 5em !important;
	}

	span.recorder,
	div#flashcontent {
		display: none;
	}

}

@media only screen and (max-width: 480px) {
	.footer-widgets .widget-title,
	.home-even .widget-title,
	.home-odd .widget-title {
		font-size: 36px;
	}
	
	.home-even,
	.home-odd {
		font-size: 22px;
	}
	
	li#menu-item-290.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-290 a {
		padding-top: 0;
		text-align: center;
	}
	
	a.floating-box {
		padding: 15px 5px;
	}

}